.contact {
    background-color: pink;
    color: black;
    padding: 15px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.wrapper {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mail input {
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
}

.mail button {
    padding: 10px;
    color: white;
    background: #333;
    border-radius: 0 5px 5px 0;
    border: none;
    cursor: pointer;
}

.icons_logo {
    display: flex;
    gap: 15px;
    color: black;
}
